@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}

body
{
    background-image: linear-gradient(to right, #A79BF2, #dbd6fd);
}

main
{
    background-color: #fff;
    width: 580px;
    padding: 12px;
    margin: auto;
    border-radius: 12px;
    box-shadow: 1px 1px 2px #a69bf286;
}

h1
{
    text-align: center;
    color: #F28705;
    text-shadow: 2px 2px 3px #a35a0093;
}

h2
{
    color: #796AD9;
}

p
{
    text-align: justify;
}