@charset "UTF-8";

body
{
    height: 98vh;
    margin: 0px;
    margin-top: 0px;
    padding: 0px;
    border: 0px;
}

header
{
    background-color: black;
    color: white;
    text-align: center;

    margin: 0px;
    padding: 0px;
}